@model Product

<h3>@Model.name Information</h3>

<style>
    body {
        background-color: #D3D1B0
    }
</style>

<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Heritage</th>
        <th>Archetype</th>
        <th>Bio</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.DisplayGender(Model.sexid)</td>
        <td>@Model.age</td>
        <td>@Model.DisplayHeritage(Model.raceid)</td>
        <td>@Model.DisplayArchetype(Model.classid)</td>
        <td>@Model.bio</td>
    </tr>

</table>

<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.id">Update Character</a>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="id" value="@Model.id" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete Character" />
    }
</div>

<html>
    <body>
        <br />
        <br />
    </body>
</html>

<div style="display: block">
    <a href="/Product/Index">Return to List</a>
</div>

